.container {
    text-align: center;
    margin: 1.5em 0em;
}

.grid {
    display: inline-grid;
    grid-template-columns: repeat(30, auto);
    grid-gap: 10px;
    grid-auto-rows: 1fr;
    width: 75%;
}

.grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid-node:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid-node {
    transition: 0.5s ease;
}

.grid-node:hover {
    cursor: pointer;
}

.grey {
    background-color: #8a8a8a;
}

.grey:hover {
    background-color: #cccccc;
}

.btn-container {
    text-align: center;
}
