.row {
    width: 75%;
    margin-left: 12.5%;
}

.options-heading {
    display: inline;
    color: #ffffff;
    font-weight: 300;
    font-size: 90%;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-default {
    margin-left: 20px;
}

.toggle {
    opacity: 0.5;
    transition: ease 0.5s;
}

.toggle:hover {
    opacity: 1.0;
}

.active {
    opacity: 1.0;
}