/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

*:focus {
    outline: transparent;
}

html {
    background-color: #303030;
    font-family: 'Lato', sans-serif;
}

.btn-default {
    padding: 0.8em 0.3em;
    width: 120px;
    border: none;
    color: #ffffff;
    font-size: 80%;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.btn-default:hover {
    cursor: pointer;
}

.yellow {
    background-color: #ffb819;
}

.orange {
    background-color: #fa831d;
}

.blue {
    background-color: #1d6afa;
}